
h2{
    color:black;
    margin-left: 10%;
}
.Buy a{
    text-decoration: none;
    margin-right: 3%;
}
img{
    width: 50%;
    margin-left: 20%;
    margin-top: 20%;
}
p{
    font-size: 150%;
}